#publications {
  width: 60%;
  margin: auto;
  font-family: Open Sans, sans-serif;
}

#publications a {
  text-decoration: none;
  color: #C1B3B1;
  border: 2px solid #C1B3B1;
  border-radius: 30px;
  padding: 5px 10px;
  font-family: Open Sans, sans-serif;
}

#publications a:hover {
  background: #C1B3B1;
  color: white;
}

#publications h3:last-of-type {
  margin-top: 50px;
}

#experience {
  background: #D6CDD9;
}

#experience h1 {
  padding: 50px;
}

#experience p {
  width: 60%;
  margin: 0 auto 12px auto;
  font-family: Open Sans, sans-serif;
}

#experience h3 {
  width: 60%;
  margin: 20px auto;
  font-family: Open Sans, sans-serif;
}

#experience a {
  width: 300px;
  display: block;
  margin: auto;
  padding: 40px 0;
  transition-property: width;
  transition-duration: 0.5s;
}

#experience a:hover {
  width: 310px;
}

#education {
  width: 60%;
  margin: auto;
}

#education h1 {
  padding-top: 50px;
}

#education img {
  width: 500px;
  display: block;
  margin: 0 auto;
  transform: translate(0, -80px);
}

#education h3 {
  transform: translate(0, -100px);
  text-align: center;
}

#education h4 {
  transform: translate(0, -100px);
  text-align: center;
}
