.software {
  position: relative;
}

#software-header {
  background: #2E4047;
  padding: 60px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: white;
}

#software-description {
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.software-tablet{
  font-size: 20px;
}

.software-phone {
  font-size: 18px;
  margin: 10px;
}

.software h1 {
  text-align: center;
  margin: 40px;
}

#project-choices {
  width: 55%;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.project-btn {
  color: #C1B3B1;
  border: 2px solid #C1B3B1;
  border-radius: 30px;
  padding: 5px 10px;
  font-family: Open Sans, sans-serif;
}

.project-btn:focus {
  background: #C1B3B1;
  color: white;
}
.project-btn:hover {
  background: #C1B3B1;
  color: white;
}

#project-title {
  margin: 40px auto 0 auto;
  border-top: 2px solid #C1B3B1;
  padding-top: 40px;
}

.project-description {
  width: 90%;
  padding: 40px 40px 0 40px;
  text-align: center;
  font-family: Open Sans, sans-serif;
}

.project-image {
  width: 50%;
  margin: auto;
  display: block;
}

#links {
  width: 400px;
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
  margin-bottom: 40px;
}

#links a {
  text-decoration: none;
}

#skills {
  background: #D6CDD9;
}

#skills h1 {
  color: white;
  padding-top: 40px;
}

#skills-list {
  width: 90%;
  min-height: 500px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
  padding-bottom: 80px;
}

#skills-list div {
  text-align: center;
  font-family: Open Sans, sans-serif;
}

#skills-list img {
  height: 100px;
  margin: auto 80px;
}
