.homepage {
  position: relative;
}

#home-background-img {
  position: absolute;
  z-index: -5;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#home-header {
  text-align: center;
  padding-top: 200px;
  height: 1080px;
  background: rgba(191, 180, 178, 0.5);
}

#home-header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 273px;
  width: 273px;
  padding: 3px;
  background: white;
  border-radius: 50%;
}

#home-header p {
  display: inline;
  color: white;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  font-family: 'Gothic A1', sans-serif;
  font-size: 35px;
}

.homepage-title {
  text-align: center;
  text-decoration: none;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 80px;
}

#renaissance {
  height: 150px;
}

#renaissance h2 {
  display: flex;
  margin: 25px 0;
  justify-content: center;
}

#areas {
  background: #D4CED8;
  height: 500px;
}

#area-icons {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  margin: 0 300px;
}

#area-descriptions {
  display: flex;
  justify-content: space-around;
  margin: 0 300px;
}

#area-descriptions * {
  margin: 30px;
  text-align: justify;
  width: 220px;
}

#email {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background: #2A4048;
  color: #8D9AA0;
}

#email a {
  color: #8D9AA0;
}

#insta {
  height: 400px;
}

#insta h2 {
  text-align: center;
}

#insta img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 200px;
  margin-bottom: 20px;
}

#insta a {
  display: flex;
  justify-content: center;
  color: black;
  text-decoration: none;
}
